    // body {
    //   background-color: red;
    // }
    @import './colors.scss';
    @import '~bootstrap/scss/bootstrap';
    @import "~vue-material/dist/vue-material";
    // vue material theme customization
    @import "~vue-material/dist/theme/engine"; // Import the theme engine
    @include md-register-theme("default", ( primary: #0194f4, // The primary color of your application
    accent: #00a3ad // The accent or secondary color
    ));
    @import "~vue-material/dist/theme/all"; // Apply the theme
    @font-face {
        font-family: 'endurance-light';
        src: url('/fonts/EnduranceProLight.TTF');
    }
    
    @font-face {
        font-family: 'endurance-regular';
        src: url('/fonts/EnduranceProRegular.TTF');
    }
    
    @font-face {
        font-family: 'endurance-bold';
        src: url('/fonts/EnduranceProBold.TTF');
    }
    
    .md-active {
        border-style: solid;
        border-width: 2px;
        border-color: #63666a;
    }
    
    .md-accent {
        background-color: #00a3ad;
    }
    
    .md-primary {
        color: #004050;
    }
    
    html {
        //background-color: $primary-color-dark;
        //background: linear-gradient(143deg, #00275D, #011322);
    }
    
    body {
        font-family: endurance-regular;
        margin: 0 auto;
        background: linear-gradient(143deg, #00275D, #011322);
        .container-box {
            background: white;
            border-radius: 20px;
            padding: 20px;
        }
        .alert-info2 {
            color: white;
            text-align: center;
            padding: 40px 10px 10px;
            font-family: endurance-light;
        }
        .alert-info3 {
            background: #edf5ff;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            font-family: endurance-bold;
            font-size: 12px;
            color: $primary-color;
            position: relative;
            p {
                margin-bottom: 20px !important;
            }
            &:after {
                clear: both;
                right: 50%;
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -20px;
                width: 0;
                height: 0;
                border-top: solid 20px #edf5ff;
                border-left: solid 20px transparent;
                border-right: solid 20px transparent;
            }
        }
        .md-title {
            color: $primary-color-dark;
            font-size: 16px;
        }
        .md-subheader {
            font-size: 13px;
            color: $light-dark !important
        }
        .md-dialog-actions {
            padding: 8px 8px 8px 8px;
            justify-content: space-between;
        }
        .md-dialog-container.md-theme-default {
            border-radius: 20px;
        }
        .md-toolbar.md-theme-default.md-primary {
            position: fixed;
            top: 0;
            z-index: 10;
        }
        #selectedOffice {
            border: none;
            border-bottom: 1px solid $light-dark;
            border-radius: 0;
            color: $light-dark;
            padding: 0;
        }
        .card {
            border: none;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #body-section {
            min-height: 80vh;
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
        }
        .md-list-item-content.md-ripple:hover {
            background: none !important;
        }
        .table {
            background: white;
            display: block;
            overflow-x: auto;
            th {
                padding-bottom: 20px;
            }
            td {
                border: none;
            }
            thead {
                background: $primary-color;
                color: white;
            }
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #eaf1fa;
        }
        .md-list-item-content.md-ripple:hover {
            background: #aaaaaa;
            color: white;
        }
        .turner-button {
            padding: 10px 30px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            width: fit-content;
            margin: 0 auto;
            border-radius: 30px;
            background-color: $primary-color;
            background-image: linear-gradient(to bottom right, $button1, $bright-blue);
            transition: all .3s;
            cursor: pointer;
            &.button1 {
                background: $bright-blue;
                text-transform: capitalize;
            }
            &.button2 {
                background: $primary-color;
                text-transform: capitalize;
            }
            &:hover {
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
                background-image: linear-gradient(to bottom right, $bright-blue, $button1);
            }
        }
        .modal-title {
            color: $primary-color-dark;
        }
        .intro-logo {
            max-width: 250px;
        }
        .down-logo {
            color: rgba(255, 255, 255, 0.7);
            font-size: 18px;
        }
        .text-inherit {
            margin-top: 20px;
            padding: 10px;
            color: white;
            font-size: 12px;
        }
        .img-container {
            position: absolute;
            left: 50%;
            margin-top: 30px;
            img {
                position: relative;
                left: -50%;
                max-width: 190px;
            }
        }
        .disabled {
            color: #DEDEDE;
        }
        .en_green {
            color: #00C851;
        }
        .en_orange {
            color: #FF9800;
        }
        .en_red {
            color: #DC3545;
        }
        .en_blue {
            color: #007BFF;
        }
        .unknown {
            color: #898989;
        }
        .primary-color {
            color: $primary-color;
        }
        .bright-blue {
            color: $bright-blue;
        }
        a:hover {
            text-decoration: none;
        }
        .md-theme-default a:not(.md-button):hover {
            text-decoration: none;
        }
        .buttons-sections {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &.menu {
                height: 40vh;
                *:not(.color-hover) {
                    z-index: 3;
                }
            }
            .control-button {
                .color-hover {
                    background: $button1;
                    height: 100%;
                    position: absolute;
                    border-radius: 5px;
                    top: 0;
                    left: 0;
                    width: 0;
                }
                .menu-link {
                    background: $bright-blue;
                    width: 80vw;
                    max-width: 400px;
                    margin-bottom: 10px;
                    font-size: 12px;
                    padding: 10px;
                    border-left: 5px solid $button1;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    transition: all .3s;
                    &:hover {
                        color: $primary-color !important;
                        .menu-icon {
                            color: white;
                        }
                    }
                    .menu-icon {
                        background: $primary-color;
                        border-radius: 50%;
                        width: 40px !important;
                        height: 40px !important;
                        border: 2px solid;
                        margin-right: 10px;
                        transition: all .3s;
                        padding: 8px;
                    }
                    .arrow {
                        margin-left: auto;
                    }
                }
            }
        }
        .last-update {
            color: rgba(255, 255, 255, 0.9);
        }
        .fa-clock,
        .last-update {
            font-size: 14px;
        }
        .last-date {
            color: rgba(255, 255, 255, 0.7);
            font-size: 10px;
        }
        .symtomps {
            font-size: 10px;
            font-weight: bold;
        }
        h4 {
            color: white;
            font-family: endurance-bold;
            font-size: 17px;
            text-align: center;
        }
        h5 {
            font-size: 17px;
            padding: 10px;
            font-family: endurance-bold;
        }
        .md-active {
            border-width: 0;
        }
        .md-accent {
            background-color: $bright-blue;
        }
        label[data-v-2c1299ac] {
            width: 100%;
            cursor: pointer;
        }
        #footer {
            img {
                max-width: 140px;
                margin: 0 auto;
                display: block;
            }
            p {
                color: rgba(255, 255, 255, 0.7);
                font-family: endurance-light;
                max-width: 310px;
                font-size: 12px;
                padding: 20px;
                margin: 0 auto;
                a {
                    color: $bright-blue;
                }
            }
        }
        .md-tabs-navigation {
            border-radius: 20px 20px 0 0;
        }
        .md-datepicker-day-button.md-datepicker-selected {
            color: black !important;
            box-shadow: 0 0 0 2px $bright-blue;
            background: none !important;
        }
        .md-datepicker-header {
            background: $primary-color-dark !important;
        }
        .badge-info {
            background-color: $primary-color-dark;
        }
        .md-theme-default.md-active.md-icon-label {
            border-bottom: 5px solid $bright-blue2;
        }
        .md-button:active {
            background: none;
        }
        .md-button:not(.md-active) .md-ripple {
            background: $light-blue;
        }
        .md-tabs-indicator {
            background-color: inherit !important;
        }
        .md-tabs-navigation {
            padding: 10px;
        }
        .md-tab-label {
            font-weight: 700;
            color: black;
        }
        .add-office {
            cursor: pointer;
            color: $primary-color;
        }
        .bright-blue2 {
            background: $bright-blue2;
            color: white;
            font-size: 14px;
            &::after {
                border-top-color: $bright-blue2;
            }
        }
        .statusCircle {
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            top: 1px;
        }
        .button-section {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    
    @media (min-width: 450px) {
        .logo-nav {
            img {
                max-width: 100px !important;
            }
            .logo-text {
                font-size: 15px !important;
            }
        }
        .md-toolbar.md-theme-default.md-primary {
            height: 70px;
        }
        .display-name {
            font-size: 15px !important;
        }
    }
    
    @media (min-width: 700px) {
        .table {
            display: inline-table !important;
        }
    }