$primary-color: #00275d;
$primary-color-dark: #00162B;
$button1: #6FBBE9;
$bright-blue: #0071bb;
$bright-blue2: #0194F4;
$light-blue: #CEDEF2;
$light-blue: #CEDEF2;
$cooper: #c34d28;
$dark-gray: #5a5a5a;
$light-dark: #aaaaaa